<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chb.addon"
          android:versionCode="1"
          android:versionName="1.0">
	<uses-sdk android:minSdkVersion="9"/>

	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
		<activity android:name="com.chb.addon.MainActivity"
		          android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".InnerAppActivity"
		          android:label="我是一个子进程"
		          android:process=":child_process_any_name_is_ok">
		</activity>

		<receiver android:name=".Widget.MyWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
			           android:resource="@xml/info" />
		</receiver>

		<receiver android:name=".Widget.MyWidgetBroadcast">
			<intent-filter>
				<action android:name="CHANGE_MAIN_BUTTON_CONTENT"/>
			</intent-filter>
		</receiver>
	</application>
</manifest>
